.carrito{
    padding: 5rem 2rem;
    margin: 0 auto;
    gap: 3rem 1rem;
    box-sizing: border-box;
}
.nombre{
    font-size: 2rem;
    padding: 5rem 0 0 0;
    color: blueviolet;
}

 
.precio{
    font-size: 2rem;
    color: #1a202c;
}
.vaciarCarro{
    color: blueviolet;
    font-size: 1.5rem;
}