.img-main{
    height: 500px;   
}

.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 226, 244);
}

h1 {
    font-size: 4rem;
    color: rgb(194, 116, 194);
    font-family: 'Blackadder ITC';
}