.container {
  display: flex;
  flex-direction:row;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 3px solid whitesmoke;
  background-color: rgb(173, 84, 162);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border: solid 2px whitesmoke;
  height: 40px;
  position: relative;
  border-radius: 5px;
  margin: 20px;
}