.title{
    font-size: 2rem;
    padding: 5rem 0 0 0;
    color: blueviolet;
}
.contenedorDetalle{
    box-shadow: 1px 10px 10px 2px rgb(0, 0, 0, .2);
    border-radius: 5px;
}
.imagen {
    width: 400px;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.precio{
    font-size: 2rem;
    color: #1a202c;
}
