.nombre{
    font-size: 2rem;
    padding: 5rem 0 0 0;
    color: rgb(194, 116, 194);
    font-family: 'Blackadder ITC';
}
.imagen {
    width: 300px;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.precio{
    font-size: 30px;
    color: rgb(0, 0, 0, .555);
    text-transform: uppercase;
}
.contenedorDetalle {
    background-color: rgb(255, 226, 244);
}